@model ShippingDetails

@{
    ViewBag.Title = "Замовлення книг додому";
}

<h2>Оформити замовлення</h2>
<p>Будь ласка, введіть Ваші контактні дані.</p>

@using (Html.BeginForm())
{

    @Html.ValidationSummary()
    <h3>Одержувач</h3>
    <div class="form-group">
        <label>Ім'я:</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Прізвище:</label>
        @Html.TextBoxFor(x => x.SecondName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Телефон</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>E-mail:</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Адреса</label>
        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обробити замовлення" />
    </div>

}